
					</table>
				</div>
				{{ hook_section_after }}
			</form>
			<hr />
			<div class='cactiAuthErrors'>
				{{ error }}
			</div>
			<div class='versionInfo'>
				{{ version }}
			</div>
		</div>
	</div>
	<div class='cactiAuthLogo'></div>
	{{ html | raw }}
	{{ global_session | raw }}
</div>
</body>
</html>